*{margin: 0;
padding: 0;}

body{
  height: 100vh;
  background: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 576px) {
  .main {
    width: 90%
  }
} 