.detail-header {
    margin-top: 0.5em;
    padding: 1em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8125rem;
  }
  
  .detail-header button {
      border:none;
      outline:none;
      background-color: transparent;
      color:white;
      cursor: pointer;
  }
  @media only screen and (max-width: 360px) {
    .detail-header {
        height: 15px;
        width: 200px;
        color: #FFFFFF;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 15px;
        margin-left: -10px;
      }
      .detail-header button {
        border:none;
        outline:none;
        background-color: transparent;
        color:white;
        cursor: pointer;
        margin-top: 3px;
    }

     
  }